#facture {
    text-align: center;
    font-family: "Roboto","Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: '10px';
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    font-size:17px;
    margin: 0 auto 0 auto;
    
  }
  
  #facture td, #facture th {
    border-bottom: 1px solid rgb(185, 185, 185);
    
  }
  
  
  #facture th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 15px;
    color: #222831;
    
  }

  .row{
    font-family: 'roboto';
    color:#a01111;
  }

  #facture #total  {
    text-align:left;
    background-color: #222831;
    padding-left: 3%;
    font-weight: 900;
    color:#fff;
    border-top: 3px solid #a01111;
 }
 #facture #total-value  {
    background-color: #a01111;
    color:white;
    font-weight: 900;
    border-top: 3px solid #a01111;
 }
 #facture tbody:nth-child(2){
     width:50%;
 }
 td input{
     width: 100%;
     height: 30px;
     text-align: right;
     border:none;
     font-size:17px;
     font-family: 'roboto';
    
 }
 td input:focus{
    outline: none;
}
 td select{
    width: 100%;
    height: 30px;
    border:none;
    font-size:16px;
    font-family: 'roboto';
    
}
td select:focus{
    outline: none;
}

